<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link type="text/css" rel="stylesheet" href="styles/style.css">

  <title>For Black Women</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">For Black Women</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Log Out</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="nav-links">
          <!-- underscore template for nav links -->
          <script type="text/template" id="nav-template">
            <% if (currentUser) { %>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Log Out</a></li>
            <% } else { %>
              <li><a href="#" data-toggle="modal" data-target="#signup-modal">Sign Up</a></li>
              <li><a href="#" data-toggle="modal" data-target="#login-modal">Log In</a></li>
            <% } %>
          </script>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>

  <!-- signup modal -->
  <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signupModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
        </div>
        <form method="post" action="/users">
          <div class="modal-body">
            <div class="form-group">
              <input type="text" name="user[firstName]" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group">
              <input type="text" name="user[lastName]" class="form-control" placeholder="Last Name">
            </div>
            <div class="form-group">
              <input type="text" name="user[avatar]" class="form-control" placeholder="Avatar (Image URL)">
            </div>
            <div class="form-group">
              <input type="email" name="user[email]" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" name="user[password]" class="form-control" placeholder="Password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" value="Sign Up" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>